
/* universal style */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* CSS Variables */
:root {
	--primary: #008080;
	--accent: #ff6b6b;
	--background: #f8f9fa;
	--text: #333333;
	--heading: #003366;
	--link: #00aaff;
	--hover: #007b8a;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--primary);
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 20px;
}

.nav-items a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    color: white;
    padding: 10px;
}
.logo:hover {
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    background: linear-gradient( to top, var(--background), var(--primary));
    height: 70vh;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    animation: slideFromTop 2s ease-in-out;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 1.3em;
    margin: 10px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.hero .cta-btn {
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 1s ease;
    animation: fadeIn 4s ease-in-out;
}

.hero .cta-btn:hover {
    background-color: var(--hover);
    
}


.flex-container {
    display: flex;;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

@media (max-width: 600px){
    header {
        flex-direction: column;
        align-items: start;
    }

    .nav-items {
        flex-direction: column;
        gap:10px;
    }

    .flex-container{
        flex-direction: column;
        align-items: center;
    }

    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        width: 300px;
    }
}

@keyframes slideFromTop {

    from {
        transform: translateY(-100%);
    } 
    to {
        transform: translateY(0);
    }
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
